.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: inter;
    /* border: 1px sol; */
}