.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(240, 67, 67); */
  height: auto;
  width: 100%;
  padding: 4px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 4px #096363;
  a {
    text-decoration: none;
  }
  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #007272;
  }
  .logo {
    font-size: 3rem;
    font-family: Babylonica;
    color: #007272;
    /* cursor: pointer; */
  }
  .icons {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    color: #007272;
    cursor: pointer;
  }
}
